- Don't run chain commands, let me do it
- Don't run  dev and/ro build commands, let me do it
- If you want to run something, ask me first
- When running commands, prefere the ones in the outter most package.json of this project
- Feel free to run deploy and update the contracts and abi if needed
- When waiting for someting, wait for only 1 second.
- Watch out for errors related to mixing BigInt and other types, use explicit conversions.
- Run lint and type check after making changes and fix errors.